[submodule "lib/42-libft"]
	path = lib/libft
	url = https://github.com/nerraf-dev/42-libft.git
[submodule "lib/42-get_next_line"]
	path = lib/get_next_line
	url = https://github.com/nerraf-dev/42-get_next_line.git
